* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: georgia, serif;
    font-size: 12px;
    line-height: 16px;
}

header {
    background-color: #F4F5EE;
    height: 240px;
}

header nav {
    float: right;
    width: 100%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    font-family: varela round, futura, sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 10px; /* TRouBLe */
    color: #1C5E48;
    letter-spacing: 2px;
}

header a {
    color: #1C5E48;
    margin-right: 20px;
    text-decoration: none;
}

header a:link {}
header a:visited {}
header a:hover {
    color: #F85840;    
}
header a:active {
    text-decoration: none;
}

header img {
    margin-right: 50%;
    margin-left: 42%;
    font-family: varela round, futura, sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 24px 24px 24px 24px;
    align-content: center;
    color: #195E47;
    letter-spacing: 2px;
}   

/* This is my main picture on my about page */    

article {
    font-size: 36px;
    clear: both;
    width: 100%;
}

article img {
    align-content: center;
    padding: 20px 100px 20px 100px;
    margin: 0 5% 0 12%; 
}

p {
    font-family: century schoolbook, century, serif;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
    margin-left: 240px;
    margin-right: 240px;
}


article h1 {
    font-size: 36px;
    line-height: 44px
    margin-top: 4px;
}

article h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4px;
}

article h3 {
    font-size: 16px;
    color: #EADABE;
    font-family: varela round, futura, sans-serif;
    line-height: 24px;
    margin-bottom: 4px;
    margin-left: 240px;
    margin-right: 240px;
}

footer {
    background-color: #EADABE;
    height: 120px;
    margin-top: 52px;
}

footer p {
    text-align: center;
    font-size: 12px;
    font-family: varela round, futura, sans-serif;
    line-height: 120px;
    letter-spacing: 2px;
    
}

/* Media Screen: Mobile Devices */

@media screen (max-width: 600px) {
    









